@import "variables";
@import "mixins";
:host {
	.gallery {
		&-item__inner {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&.md {
			.gallery-item {
				&.selected {
					background-color: $secondaryBlack;
				}
				.checkbox-for-delete {
					display: initial;
				}
				.gallery-item__inner {
					pointer-events: none;
				}
			}
		}
		.toggle-icon {
			color: $icon-fill-color;

			&:after,
			&:before {
				content: "";
				animation: none;
			}
			&:hover {
				&:after,
				&:before {
					content: "\e872";
					color: $mainFontWhite;
				}
			}
		}
	}
	mat-checkbox {
		background: #f2f2f2;
	}
	.delete-panel {
		display: flex;
		justify-content: flex-end;
		&__buttons {
			margin-right: 1rem;
			button {
				@include flexCenteredX-Y();
				font-size: 1.5rem;
				line-height: 1.2;
				background: none;
				color: $mainFontWhite;
			}
		}
	}
	.checkbox-for-delete {
		pointer-events: none;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		z-index: 2;
		display: none;
	}
}