@import "variables";
:host {
	.toggle-icon:hover {
		&:after,
		&:before {
			content: "\e872";
			color: $mainFontWhite;
		}
	}
	::ng-deep {
		//.mat-progress-bar-fill::after {
		//	background-color: red;
		//}
		.mat-progress-bar-buffer {
			background: red;
		}
		.mat-progress-bar,
		.mat-progress-bar-fill {
			height:4px !important;
		}
	}
}