<div class="gallery-wrp">
	<div class="gallery__titles">
		<h2 >Bookmarks</h2>
		<div class="delete-panel">
			<div class="delete-panel__buttons" *ngIf="getArr(bookmarksForDelete).length">
				<button mat-icon-button (click)="openModalForMany(bookmarksForDelete)" class="delete-selected-items"  matTooltip="Delete selected" >
					<span class="material-icons-round"> delete </span>
				</button>
			</div>
			
			<mat-checkbox
					class="example-margin"
					[checked]="allComplete"
					[indeterminate]="
					getArr(bookmarks).length !== getArr(bookmarksForDelete).length &&
					allComplete &&
					!!getArr(bookmarksForDelete).length
				"
					(change)="setAll($event.checked)"
			>
			</mat-checkbox>
		</div>
	</div>

	<div class="gallery-grid-wrp">
		<div [class.deleting]="bookmarksForDelete.length" *ngIf="getArr(bookmarks).length; else loader" class="gallery">
			<div
				[class.selected]="bookmarksForDelete[card.id]"
				*ngFor="let card of getArr(bookmarks); let i = index"
				class="gallery-item"
			>
				<div class="gallery-item__inner">
					<div class="gallery-item__img-wrp">
						<img
							(click)="open(i)"
							[src]="card.thumbnailUrl"
							loading="lazy"
							alt=""
							class="gallery-item__img"
						/>
					</div>
					<div class="gallery-item__title-wrp">
						<p class="gallery-item__title">{{ card.title }}</p>
						<label class="like-item-btn">
							<input
								[checked]="!!card"
								(input)="openModalForAloneCard(card)"
								class="like-item-btn__checkbox"
								type="checkbox"
							/>
							<div class="toggle-icon"></div>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gallery__pagination"></div>
</div>
<ng-template #loader>
	<div class="loader-wrp">нет</div>
</ng-template>