@import "variables";
@import "mixins";

:host {
	$search-input-height: 2rem;
	.search-input {
		width: 100%;
		max-width: 20rem;
		height: $search-input-height;
		line-height: $search-input-height;
		outline: transparent;
		border: none;
		background-color: $secondaryBlack;
		color: $mainFontWhite;
		padding: $search-input-height * 0.25;
		border-radius: $search-input-height * 0.25;
		font-weight: 500;
		&::placeholder{
			transition-duration: 0.4s;
		}
		&:focus::placeholder {
			text-indent: -100%;
		}
	}
	.search-title{
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}

	.loader-wrp {
		width: 100%;
		height: 100%;
		@include flexCenteredX-Y();

		&::ng-deep {
			.mat-progress-spinner circle,
			.mat-spinner circle {
				stroke: $mainBlue;
			}
		}
	}

	$pagBtnSize: 2rem;

	.gallery__pagination {
		@include flexCenteredX-Y();

		&::ng-deep {
			.ngx-pagination {
				display: grid;
				grid-auto-rows: $pagBtnSize;
				grid-auto-flow: column;
				gap: $pagBtnSize * 0.25;
				margin: 0;

				li {
					min-width: $pagBtnSize;
					width: fit-content;
					height: $pagBtnSize;
					line-height: $pagBtnSize;
					text-align: center;
					color: $mainBlack;
					margin: 0;
					padding: 0;
					border-radius: $pagBtnSize * 0.25;
					background-color: $mainFontWhite;
					transition-duration: 0.3s;
					a {
						margin: 0;
						padding: 0 $pagBtnSize * 0.25;
						&:hover {
							background-color: transparent;
						}
					}
					&.disabled {
						opacity: 0.5;
					}

					&.current {
						transform: scale(1.1);
						background-color: $mainBlue;
						color: $mainFontWhite;
					}
				}
			}

			.pagination-previous,
			.pagination-next {
				font-size: 0px !important;
				&:after {
					content: "\e409";
					position: absolute;
					left: 0%;
					top: 0%;
					width: 100%;
					color: $mainBlue;
					font-family: "Material Icons Round";
					font-size: 1.5rem;
					text-align: center;
					pointer-events: none;
				}
			}
			.pagination-previous:after {
				transform: rotate(-180deg);
			}
		}
	}
}