$header-aside-height-width: 5rem;
$mainPad: $header-aside-height-width;
$icon-fill:"\e87d" !default;
$icon-empty:"\e87e" !default;
$icon-fill-color:#A12C2C !default;
$icon-size:1.5rem;

//colors

$mainBlack: #040404;
$secondaryBlack: rgb(27, 31, 33);
$mainBlue: #61dafb;
$mainFontWhite: #f2f2f2;