:root{
  --header-aside-height-width: 5rem;
}
$header-aside-height-width: var(--header-aside-height-width);
$mainPad: $header-aside-height-width;
$icon-size:1.5rem;$title-pagination-row-height: 3rem;
$space: 1rem;
$galleryHeight: calc(
    100vh - 2.5 * #{$header-aside-height-width} - 2 * #{$title-pagination-row-height} - 2 * #{$space}
);




//colors

$mainBlack: #040404;
$secondaryBlack: rgb(27, 31, 33);
$mainBlue: #61dafb;
$mainFontWhite: #f2f2f2;
$icon-fill-color:#A12C2C;

//

$icon-fill:"\e87d" !default;
$icon-empty:"\e87e" !default;

//breakpoints

$breakpointIpadPro: 1025px;
$breakpointIpad: 768px;
$breakpointRotatedPhone: 570px;
$breakpointPhone: 415px;


@media screen and (max-width: $breakpointPhone ) {
  :root{
    --header-aside-height-width: 4rem;
  }

}